
 <h3>Current user id <%= current_user.id %></h3>
 <p>Welcome <%= current_user.email %></p><p>user name <%= current_user.name %></p> 
 <h1>Listing albums</h1>



 <div class="table-responsive">
  <table class="table table-striped">
   <thead>
    <tr>
      <th>Album Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.caption %></td>
        <td><%= album.description %></td>
        <td><% @j = album.id %></td>    
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "label label-danger", :style => "color:white;" %></td>
        <td><%= link_to 'Add Pic or View Album', :action => 'index', :controller => 'pictures',title: @j %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Album', new_album_path, :class =>"label label-danger", :style=>"color:white;font-size:15px;" %>
