<h1>Listing pictures</h1>


<h1 class="fancy">

  <% @@xx= params[:title] %></h1>

  <% if @@xx!= nil %>
  <% session[:albumID] = @@xx %>
  <% else %>
  <% end %>


 <div class="table-responsive">
            <table class="table table-striped">
              <thead>
    <tr>
      <th>Caption</th>
      <th>Description</th>

      <th>Content type</th>
      <th>Width</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.caption %></td>
        <td><%= picture.description %></td>
        <td><%= picture.content_type %></td>
        <td><%= picture.width %></td>
        <td><%= picture.height %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Picture', new_picture_path %>
